.rootHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 5px;
  padding: 1rem;
  nav {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      flex-grow: 1;
      width: 100%;
      width: 500px;
      max-width: 90wh;
      min-width: max-content;
      gap: 1rem;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        a {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border: solid var(--color-shadow-gold);
          width: 100%;
        }
      }
    }
  }
}
